# Visual Studio 生成了具有 C++ 设置的 .editorconfig 文件。
root = true

[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# Visual C++ 代码样式设置

# --- 通用设置 ---
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# --- 基础缩进 ---
indent_style = space
indent_size = 4
tab_width = 4